.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  width: auto;
}

.App-header {
  background-color: lightgrey;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}
