.App-logo {
  height: 50px;
  width: auto;
  padding: 0 0 15px 0;
}

.App-header {
  background-color: rgba(1, 1, 1, 0.3);
  height: 70px;
  padding: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

